# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Database
db.sqlite3

# Media uploads (optional if you don't want to upload user files)
media/

# Django stuff
*.log

# VS Code
.vscode/